.additional_features_title {
  display: flex;
  align-items: center;
}

.additional_features_title p {
  width: 50%;
  padding: 40px 0 40px 50px;
  border-left: 1px solid var(--neutral_medium);
}

.additional_features_title h2 {
  width: 50%;
  font-size: 40px;
  margin-right: 40px;
}

@media only screen and (max-width: 1200px) {
  .additional_features_title h2 {
    font-size: 36px;
  }
}

@media only screen and (max-width: 992px) {
  .additional_features_title h2 {
    font-size: 32px;
    margin-right: 35px;
  }

  .additional_features_title p {
    padding: 20px 0 20px 35px;
  }
}

@media only screen and (max-width: 768px) {
  .additional_features_title h2 {
    font-size: 28px;
  }

  .additional_features_title p {
    text-align: center;
  }
}

@media only screen and (max-width: 576px) {
  .additional_features_title {
    flex-direction: column;
    text-align: center;
  }

  .additional_features_title h2 {
    width: 90%;
    margin-right: 0;
  }

  .additional_features_title p {
    width: 90%;
    border: none;
    padding: 0;
    margin-top: 30px;
  }
}
