:root {
  --accordion-min-height: 75px;
  --accordion-max-height: 230px;
}

#faq {
  margin-top: 90px;
  padding-bottom: 110px;
  border-bottom: 2px solid var(--neutral_light_variant);
}

#faq .wraper {
  justify-content: center;
}

.accordion {
  width: 80%;
}

details {
  margin-bottom: 10px;
  background-color: #f5f7fa;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 20px;
  color: var(--highlight_dark);
  overflow: hidden;
  animation-name: accordion-close;
  animation-duration: 0.2s;
}

details[open] {
  animation-name: accordion-master;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  transform-origin: top;
}

@keyframes accordion-master {
  from {
    max-height: var(--accordion-min-height);
  }
  to {
    max-height: var(--accordion-max-height);
  }
}

@keyframes accordion-close {
  from {
    min-height: var(--accordion-max-height);
  }
  to {
    min-height: var(--accordion-min-height);
  }
}

summary {
  list-style: none;
  display: flex;
  gap: 50px;
  padding: 22px 30px;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5;
}

summary:after {
  content: "";
  flex-shrink: 0;
  color: var(--highlight_dark);
  background: center url(../assets/svg/angle-down-solid.svg) no-repeat;
  width: 20px;
  height: 20px;
  transition: transform 0.4s ease;
}

details p {
  padding: 30px;
  margin-bottom: 0;
  opacity: 0;
}

details[open] summary ~ * {
  animation: open-details 0.5s forwards;
}

details.closing summary ~ * {
  animation: close-details 0.2s;
}

@keyframes open-details {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes close-details {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

details[open] summary:after {
  transform: rotate(180deg);
}

details[open] summary {
  font-weight: 600;
}

@media only screen and (max-width: 1200px) {
  details {
    font-size: 18px;
  }
}

@media only screen and (max-width: 992px) {
  :root {
    --accordion-min-height: 70px;
    --accordion-max-height: 275px;
  }
}

@media only screen and (max-width: 768px) {
  :root {
    --accordion-min-height: 98px;
    --accordion-max-height: 350px;
  }

  summary:after {
    width: 15px;
    height: 15px;
  }
}

@media only screen and (max-width: 567px) {
  :root {
    --accordion-min-height: 120px;
    --accordion-max-height: 560px;
  }

  details {
    font-size: 16px;
  }

  summary {
    gap: 15px;
  }
}
