#faq {
  margin-top: 90px;
  padding-bottom: 110px;
  border-bottom: 2px solid var(--neutral_light_variant);
}

#faq .wraper {
  justify-content: center;
}

.accordion {
  width: 80%;
}

details {
  margin-bottom: 10px;
  background-color: #f5f7fa;
  cursor: pointer;
  box-sizing: border-box;
  padding: 22px 30px;
  font-size: 20px;
  color: var(--highlight_dark);
}

summary {
  list-style: none;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5;
}

summary:after {
  content: "+";
  color: var(--highlight_dark);
  font-size: 26px;
}

details p {
  margin-top: 35px;
}

details[open] summary:after {
  content: "-";
}

details[open] summary {
  font-weight: 600;
}

@media only screen and (max-width: 1200px) {
  details {
    font-size: 18px;
  }

  summary:after {
    font-size: 18px;
  }
}

@media only screen and (max-width: 567px) {
  details {
    font-size: 14px;
  }

  summary:after {
    font-size: 14px;
  }
}
