#faq {
  margin-top: 90px;
  padding-bottom: 110px;
  border-bottom: 2px solid var(--neutral_light_variant);
}

#faq .wraper {
  justify-content: center;
}

.accordion {
  width: 80%;
}

details {
  margin-bottom: 10px;
  background-color: #f5f7fa;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 20px;
  color: var(--highlight_dark);
  max-height: 150px;
  transition: max-height 0.4s ease-in;
  overflow: hidden;
}

summary {
  list-style: none;
  display: flex;
  gap: 50px;
  padding: 22px 30px;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5;
}

summary:hover {
  color: var(--neutral_light);
  background-color: var(--highlight_dark);
}

summary:after {
  content: "+";
  color: var(--highlight_dark);
  font-size: 26px;
}

summary:hover:after {
  color: var(--neutral_light);
}

details p {
  padding: 30px;
  margin-bottom: 0;
}

details[open] summary:after {
  content: "-";
  color: var(--neutral_light);
}

details[open] summary {
  font-weight: 600;
  background-color: var(--highlight_dark);
  color: var(--neutral_light);
}

details[open] {
  max-height: 800px;
}

@media only screen and (max-width: 1200px) {
  details {
    font-size: 18px;
  }

  summary:after {
    font-size: 18px;
  }
}

@media only screen and (max-width: 567px) {
  details {
    font-size: 14px;
  }

  summary:after {
    font-size: 14px;
  }
}
