#features {
  background: url(../assets/images/features.jpg) no-repeat;
  padding: 30px 0 40px 0;
  overflow: hidden;
}

#features .wraper {
  justify-content: flex-end;
}

.subtitle_red {
  color: var(--accent_primary);
}

.subtitle_blue {
  color: var(--accent_secondary);
}

.subtitle_green {
  color: var(--accent_tertiary);
}
