.feature_unit {
  display: flex;
  flex-direction: column;
  flex: 1 1 23.3%;
  margin-bottom: 60px;
}

.features_container_3col {
  display: flex;
  flex-wrap: wrap;
  column-gap: 120px;
  width: 100%;
  margin-top: 60px;
}

.feature_icon {
  margin-bottom: 30px;
  width: 90px;
}

.side_icon {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  margin: 0 200px 60px 0;
}

.side_icon:first-of-type {
  margin-top: 90px;
}

.feature_description p {
  margin-bottom: 0;
}

@media only screen and (max-width: 1400px) {
  .side_icon {
    margin-right: 60px;
  }
}

@media only screen and (max-width: 1200px) {
  .side_icon {
    margin-right: 0;
  }
}

@media only screen and (max-width: 992px) {
  .features_container_3col {
    column-gap: 70px;
  }
}

@media only screen and (max-width: 768px) {
  .features_container_3col {
    column-gap: 35px;
  }

  .feature_unit {
    flex: 0 1 auto;
    width: 85%;
    align-items: center;
  }

  .features_container_3col {
    flex-direction: column;
    align-items: center;
  }

  #additional_features .feature_description {
    text-align: center;
  }
}

@media only screen and (max-width: 567px) {
  .side_icon {
    flex-direction: column;
    align-items: flex-start;
  }
}
