footer {
  background-color: var(--background_dark);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

footer .logo {
  margin: 80px auto 50px auto;
}

footer a {
  color: var(--neutral_light);
  transition: 0.3s;
}

footer a:hover {
  color: var(--neutral_main);
}

.social {
  display: flex;
  gap: 15px;
  margin: 45px 0 90px 0;
}

.social img {
  height: 30px;
}

.social svg {
  height: 30px;
}

.social svg path {
  transition: 0.3s;
}

.social svg:hover path {
  fill: var(--neutral_light);
}

footer p {
  margin-bottom: 80px;
}

@media only screen and (max-width: 768px) {
  footer nav ul {
    flex-direction: column;
    row-gap: 30px;
  }

  footer p {
    width: 70%;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  #download a img:last-of-type {
    margin-left: 15px;
  }
  #download a img:first-of-type {
    margin-right: 15px;
  }
}
