html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.col_65 {
  width: 65%;
}

.col_60 {
  width: 60%;
}

.col_50 {
  width: 50%;
}

.col_40 {
  width: 40%;
}

.wraper {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  max-width: 85%;
  margin: auto;
}

section {
  margin-top: 110px;
}

h1,
h2,
h3 {
  font-weight: 600;
  color: var(--highlight_dark);
  line-height: 1.2;
}

h1 {
  font-size: 58px;
  margin-bottom: 35px;
}

h2 {
  font-size: 36px;
  margin-bottom: 25px;
}

h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

h4 {
  font-size: 18px;
}

p {
  color: var(--neutral_main);
  line-height: 1.5;
  font-size: 1rem;
  margin-bottom: 40px;
}

a {
  text-decoration: none;
  font-size: 16px;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.pill_button {
  width: 165px;
  height: 55px;
  color: var(--neutral_light);
  font-size: 16px;
  font-weight: 800;
  background: var(--highlight);
  border: none;
  border-radius: 35px;
  cursor: pointer;
  font-family: inherit;
}

@media only screen and (max-width: 992px) {
  .col_40 {
    width: 50%;
  }

  .col_50 {
    width: 80%;
  }

  .col_60 {
    width: 80%;
  }

  .col_65 {
    width: 75%;
  }

  h1 {
    font-size: 52px;
  }
}

@media only screen and (max-width: 768px) {
  .wraper {
    justify-content: center;
  }

  .col_40 {
    width: 80%;
    text-align: center;
  }

  .col_60,
  .col_65 {
    width: 90%;
    text-align: center;
    margin: auto;
  }

  h2 {
    text-align: center;
  }
}

@media only screen and (max-width: 567px) {
  h2 {
    font-size: 28px;
  }
}
