#header_nav {
  position: sticky;
  top: 0;
  display: flex;
  padding: 60px 0 20px 0;
  background-color: var(--neutral_light);
  z-index: 1;
}

#header_nav .wraper {
  align-items: center;
  gap: 10px;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  text-align: center;
}

nav li {
  padding: 0 20px;
}

nav a {
  color: var(--highlight_dark);
}

.menu_icon {
  display: none;
}

.logo {
  margin-right: auto;
}

@media only screen and (max-width: 992px) {
  #header_nav {
    padding-right: 7%;
    padding-left: 7%;
  }

  #header_nav .wraper {
    flex-wrap: nowrap;
    max-width: 95%;
  }

  #header_nav nav {
    justify-content: flex-end;
    padding-bottom: 0;
    width: 100%;
  }

  #header_nav nav ul {
    display: none;
  }

  #header_nav .pill_button {
    display: none;
  }

  .menu_icon {
    display: block;
  }

  .logo {
    margin: 0;
  }
}

@media only screen and (max-width: 576px) {
  #header_nav {
    padding: 10% 7% 7% 7%;
  }
}
