#header_nav {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 1200px;
  margin: auto;
  padding-top: 90px;
}

nav ul {
  display: flex;
}

nav li {
  padding: 0 20px;
}

nav a {
  color: var(--highlight_dark);
}

.logo {
  margin-right: auto;
}
