#hero {
  background: url(../assets/images/header_phone.png) 85% / contain no-repeat,
    url(../assets/images/buildings_background.jpg) bottom / contain no-repeat;
  height: 100vh;
  margin-top: 0;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero h4 {
  background: var(--emphasis_background);
  border-radius: 50px;
  width: 345px;
  margin: 250px 0 30px 0;
  text-align: left;
}

#hero h4::before {
  content: "";
  background: var(--emphasis) url(../assets/svg/badge_check_icon.svg) no-repeat
    center;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  height: 35px;
  width: 38px;
  border-radius: 50px;
}

#hero p {
  font-size: 18px;
}

.hero-links {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 30px;
}

#video {
  color: var(--highlight);
  position: relative;
  display: block;
  overflow: hidden;
  animation-duration: 1s;
  animation-fill-mode: both;
  height: 35px;
  line-height: 35px;
}

#video span {
  display: block;
  transition: 0.4s;
}

#video:after {
  content: url(../assets/svg/video_icon.svg);
  display: inline;
  position: absolute;
  transition: 0.5s;
  top: 100%;
  left: 0;
  right: 0;
  text-align: center;
}

#video:hover span {
  transform: translateY(-100%);
}

#video:hover:after {
  top: 0;
}

@media only screen and (max-width: 1400px) {
  #hero {
    background: url(../assets/images/header_phone.png) 90% / contain no-repeat,
      url(../assets/images/buildings_background.jpg) bottom / contain no-repeat;
  }
}

@media only screen and (max-width: 1200px) {
  #hero {
    background: url(../assets/images/header_phone.png) 90% / 36% no-repeat,
      url(../assets/images/buildings_background.jpg) bottom / contain no-repeat;
  }

  #hero h4 {
    margin-top: 150px;
  }

  #hero .description {
    width: 55%;
  }
}

@media only screen and (max-width: 992px) {
  #hero {
    background: url(../assets/images/header_phone.png) 92% 10% / 33% no-repeat,
      url(../assets/images/buildings_background.jpg) bottom / contain no-repeat;
  }

  #hero h4 {
    margin: 15% 0 10% 0;
  }

  #hero p {
    font-size: 16px;
  }

  #hero .description {
    width: 60%;
  }
}

@media only screen and (max-width: 768px) {
  #hero {
    background: url(../assets/images/buildings_background.jpg) bottom / contain
      no-repeat;
  }

  #hero .description {
    width: 100%;
    align-items: center;
    text-align: center;
  }
}

@media only screen and (max-width: 576px) {
  #hero {
    padding-top: 25px;
  }

  .hero-links {
    flex-direction: column;
  }

  #hero h4 {
    width: 325px;
  }

  #hero h4::before {
    margin-right: 7px;
  }
}
