#hero {
  background: url(../assets/images/header_phone.png) 85% / contain no-repeat,
    url(../assets/images/buildings_background.jpg) bottom / contain no-repeat;
  height: 100vh;
  margin-top: 0;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero h4 {
  background: var(--emphasis_background);
  border-radius: 50px;
  width: 360px;
  margin: 250px 0 30px 0;
}

#hero h4::before {
  content: "";
  background: var(--emphasis) url(../assets/svg/badge_check_icon.svg) no-repeat
    center;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 35px;
  width: 38px;
  border-radius: 50px;
}

#hero p {
  font-size: 18px;
}

#video {
  color: var(--highlight);
  margin-left: 30px;
}

@media (max-width: 1400px) {
  #hero {
    background: url(../assets/images/header_phone.png) 90% / contain no-repeat,
      url(../assets/images/buildings_background.jpg) bottom / contain no-repeat;
  }
}

@media (max-width: 1200px) {
  #hero {
    background: url(../assets/images/header_phone.png) 90% / 36% no-repeat,
      url(../assets/images/buildings_background.jpg) bottom / contain no-repeat;
  }

  #hero h4 {
    margin-top: 150px;
  }
}

@media (max-width: 992px) {
  #hero h4 {
    margin-top: 100px;
  }

  #hero {
    background: url(../assets/images/header_phone.png) top right / 30% no-repeat,
      url(../assets/images/buildings_background.jpg) bottom / contain no-repeat;
  }

  #hero .description {
    width: 65%;
  }
}
