.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: var(--background_dark);
  background-color: rgba(9, 20, 46, 0.97);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay_content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 12px;
  text-decoration: none;
  font-size: 28px;
  color: var(--neutral_light_variant);
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: var(--neutral_main_variant);
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
