#recommendation p {
  margin: 0px auto 40px auto;
}

.external_logos {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  width: 100%;
  margin-top: 30px;
}

.external_logos img {
  height: 45px;
}

@media only screen and (max-width: 768px) {
  .external_logos {
    justify-content: flex-start;
    overflow: auto hidden;
    -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      black 20px,
      black 90%,
      transparent
    );
  }

  .external_logos::-webkit-scrollbar {
    display: none;
  }
}
