.section_title {
  text-align: center;
  margin: 0 15%;
}

.section_title h2 {
  margin-bottom: 35px;
}

.top_center_icon {
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 992px) {
  .section_title {
    margin: 0 10%;
  }
}
