html {
	scroll-behavior: smooth;
}

/* TODO: font-family and in general typography styles should be inheritable, so I do not think you need button in the CSS selector here. */
/*DONE: but I had to add "font: inherit" to button selector, because it is not inheriting font family automatically*/
body {
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
}

.col_65 {
	width: 65%;
}

.col_60 {
	width: 60%;
}

.col_50 {
	width: 50%;
}

.col_40 {
	width: 40%;
}

.wraper {
	display: flex;
	flex-wrap: wrap;
	/* TODO: 1025px look rather custom value. Was it like this in the design? I think we can go the same as in the header_nav: 1200px. */
	/*DONE: There are some differences in the design now (headings and paragraphs width). We should look at it together.*/
	width: 1200px;
	margin: auto;
}

section {
	margin-top: 110px;
}

/* TODO: this looks like it is used in <header> only, so maybe you can move it to the header section of CSS */
/*DONE*/

h1,
h2,
h3 {
	font-weight: 600;
	color: #242f51;
	line-height: 1.2;
}

h1 {
	font-size: 58px;
	margin-bottom: 35px;
}

h2 {
	font-size: 36px;
	margin-bottom: 25px;
}

h3 {
	font-size: 20px;
	margin-bottom: 20px;
}

h4 {
	font-size: 18px;
}

p {
	color: #616368;
	line-height: 1.5;
	font-size: 1rem;
	margin-bottom: 40px;
}

a {
	text-decoration: none;
	font-size: 16px;
}

button {
	width: 165px;
	height: 55px;
	color: #fff;
	font-size: 16px;
	font-weight: 800;
	background: #2500f9;
	border: none;
	border-radius: 35px;
	cursor: pointer;
	font-family: inherit;
}

/* TODO: I would rename the color naming a bit here. Some examples: https://css-tricks.com/what-do-you-name-color-variables/ */
/* TODO: Also, I think this is the right time to introduce you to: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
.color_1 {
	color: #f55767;
}

.color_2 {
	color: #2563ff;
}

.color_3 {
	color: #40975f;
}

/*START HEADER*/

/* TODO: I guess you can remove the comment below, you should already know what it does. */
/*DONE: I know, I wrote it for you. :P I wanted to ask if this is the right way to remove the horizontal scroll, or I should check what exactly inside of header is making the problem and try to solve it differently. I removed it now completely because since I separated header in two sections I don't need it anymore.*/
/*overflow: hidden;*/

.header_nav {
	display: flex;
	gap: 20px;
	align-items: center;
	width: 1200px;
	margin: auto;
	padding-top: 90px;
}

nav ul {
	display: flex;
}

nav li {
	padding: 0 20px;
}

nav a {
	/* TODO: You could extract this colour upwards to the colours classes, as I guess we will have a hover as well. And it is always a good idea to tokenize the colours as you can easily have an overview of how many colours your project uses. */
	color: #242f51;
}

.logo {
	margin-right: auto;
}

/*START main_content*/

#main_content {
	/* TODO: When you are using multiple images as background images it is always a good idea to make them into separate lines. It will be more readable */
	/*DONE*/
	background: url(../assets/images/header_phone.png) 85% no-repeat,
		url(../assets/images/buildings_background_02.jpg) bottom no-repeat;
	/* TODO: You could attach the size to the above definition as well and then you can easily destinguish which declaration is for which image */
	/*QUESTIoN: It doesn't work, I don't know why. When it is separated like I wrote it, then it works.*/
	background-size: contain, contain;
	padding: 250px 200px 235px 200px;
	margin-top: 0;
	/* TODO: Why the negative margin. I think we can get rid of this. */
	/*DONE*/
}

.description {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#main_content h4 {
	/* TODO: Extract the color value upwards into colour classes. */
	background: #e2eaed;
	border-radius: 50px;
	width: 360px;
	margin-bottom: 30px;
}

#main_content h4::before {
	content: "";
	/* TODO: Extract the color value upwards into colour classes. */
	background: #feaa25 url(../assets/svg/badge_check_icon.svg) no-repeat center;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	height: 35px;
	width: 38px;
	border-radius: 50px;
}

#main_content p {
	font-size: 18px;
}

#video {
	/* TODO: Extract the color value upwards into colour classes. */
	color: #2500f9;
	margin-left: 30px;
}

/*START recommendation*/

#recommendation p {
	margin: 0px auto 40px auto;
}

.external_logos {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	margin-top: 30px;
}

.external_logos img {
	height: 45px;
}

/*START features*/

#features {
	background: url(../assets/images/features_03.jpg) no-repeat;
	/* TODO: you can add the "no-repeat" to the background definition */
	/*DONE*/
	padding: 30px 0 40px 0;
}

#features .wraper {
	/* TODO: Maybe we can do this more elegantly */
	/*QUESTION: I can add one empty <div class=col_50> in html, or I can set margin-left to .features .col_50, or I can add one more "wraper" div just for alignment?*/
	justify-content: flex-end;
}

.feature_unit {
	display: flex;
	flex-direction: column;
	flex: 1 1 23.3%;
	margin-bottom: 60px;
}

.side_icon {
	display: flex;
	flex-direction: row;
	gap: 30px;
	align-items: center;
	margin: 0 200px 60px 0;
}

.side_icon:first-of-type {
	margin-top: 90px;
}

/*.feature_description {
 TODO: We should get rid of this 
DONE
width: 285px;
}*/

.feature_description p {
	margin-bottom: 0;
}

/*START additional_features*/

.additional_features_title {
	display: flex;
}

.additional_features_title p {
	padding: 40px 50px;
	/* TODO: Browsers can't make borders on half a pixel. It looks the same as if you added 1px of border-width */
	/*DONE*/
	border-left: 1px solid #b9b9b8;
}

.additional_features_title h2 {
	font-size: 40px;
	padding-right: 15px;
}

.features_container_3col {
	display: flex;
	flex-wrap: wrap;
	column-gap: 120px;
	width: 100%;
	margin-top: 60px;
}

.feature_icon {
	margin-bottom: 30px;
	width: 90px;
}

/*START app_design*/

#app_design {
	background-image: url(../assets/images/designed_03.jpg);
	background-repeat: no-repeat;
	background-position-x: 100px;
	padding: 150px 0;
	/* TODO: there is no point in doing borders as a decimal of a pixel. Rounding is not guaranteed and the visual effect is really subtle. */
	/*DONE*/
	border-bottom: 2px solid #f4f4f4;
}

#app_design .wraper {
	justify-content: flex-end;
}

/*START services*/

.section_title {
	text-align: center;
	margin: 0 190px;
}

.section_title h2 {
	margin-bottom: 35px;
}

.top_center_icon {
	align-items: center;
	text-align: center;
}

/*START additional_services*/

#additional_services {
	background-image: url(../assets/images/planning_03.jpg);
	background-repeat: no-repeat;
	/* TODO: We have to check positioning as it is not working good on big screens */
	background-position-x: 840px;
	padding-bottom: 50px;
}

/*START pricing*/

#pricing .wraper {
	justify-content: center;
}

.pricing_card_container {
	display: flex;
	gap: 35px;
	justify-content: center;
	width: 100%;
}

.period_selector {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 40px 0;
	/* TODO: I think we can get rid of this width and rely on the width of the buttons inside instead */
	/*DONE: I removed height as well. I used it for the space between the button and border, but now I see I can use padding for that.*/
	padding: 3px;
	/* TODO: Same thing I mentioned about border width being a fraction of a pixel before */
	/*DONE*/
	border: 2px solid #ebebeb;
	border-radius: 50px;
}

.period_selector button {
	width: 135px;
	height: 48px;
}

.ghost_button {
	/* TODO: Let's extract the colour value */
	color: #929396;
	background: white;
	font-weight: 400;
}

.pricing_card {
	width: 300px;
	/* TODO: We can get rid of the height here and rely on the height of the elements inside instead */
	/*DONE:  I am not sure about this, but I set the height to fit-content, otherwise both cards will have the same height. I am a little bit confused about the choice between fit-content, min-content and max-content in this case. */
	height: fit-content;
	text-align: center;
	/* TODO: We can also extract the colour value here as well, using CSS variables, linked somewhere above */
	-webkit-box-shadow: 0px 34px 31px 9px #f6f8fa;
	box-shadow: 0px 34px 31px 9px #f6f8fa;
	border-radius: 10px;
}

.subscription_period {
	/* TODO: Extract the colour */
	color: #999ca5;
	/* TODO: Make sure you know what this value (1.5) refers to: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height */
	/*DONE: I new this. It's just font size multiplied by this number, isn't it? */
	line-height: 1.5;
	font-size: 1rem;
	font-weight: 400;
}

.pricing_card p {
	/* TODO: Extract the colour */
	color: #999ca5;
	margin-bottom: 0;
}

.pricing_card h2 {
	font-size: 60px;
}

.pricing_card h3 {
	margin-bottom: 0;
}

.pricing_card ul {
	margin: 40px 0;
	font-weight: 400;
}

.pricing_card li {
	/* TODO: Extract the colour */
	color: #999ca5;
	margin-bottom: 28px;
}

.pricing_card a {
	display: block;
}

.pricing_card_header {
	/* TODO: Extract the colour */
	-webkit-box-shadow: inset 0px -25px 24px -1px #f6f8fa;
	box-shadow: inset 0px -25px 24px -1px #f6f8fa;
	padding: 60px 50px 35px 50px;
}

.pricing_card button {
	width: 200px;
	height: 50px;
	margin-bottom: 30px;
}

.pricing_card a {
	text-decoration: none;
	/* TODO: Extract the colour */
	color: #2500f9;
	margin-bottom: 30px;
}

.active_card {
	box-shadow: none;
	/* TODO: Extract the colour */
	/* TODO: Same about the border-width property */
	/*DONE*/
	border: 2px solid #ebebeb;
	/* TODO: We can get rid of the height here as well */
	/*DONE*/
}

.active_header {
	/* TODO: Extract the colour */
	background: #f4f7f9;
	/*I added border-radius here, because it's not working only with the one on the .price_card for the header part.*/
	border-radius: 10px;
}

/* TODO: Extract the colours, I think we can simplify these shades and use one or maybe two here as they are all so similar */

/*START testimonials*/

#testimonials {
	background-image: url(../assets/images/people_map.jpg);
	background-repeat: no-repeat;
	/* TODO: Extract the colour */
	/* TODO: border-width 1.8px */
	/*DONE*/
	border-top: 2px solid #f4f4f4;
	background-size: 700px;
	background-position-y: center;
	margin-bottom: 90px;
	padding: 150px 0 90px 0;
}

#testimonials .wraper {
	justify-content: flex-end;
}

.stars {
	margin-bottom: 25px;
}

.star {
	width: 20px;
	height: 20px;
	/* TODO: You can transfer the margin to the wrapping <div class="stars"> */
	/*DONE*/
}

.slider_arrows {
	display: flex;
	gap: 20px;
	flex-grow: 3;
	justify-content: flex-end;
	align-items: center;
}

.arrow {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-image: url(../assets/svg/arrow-left-solid-grey.svg);
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
	border: 2px solid #eff3f8;
	/* TODO: Try to keep the declarations that are relevant to the same thing colocated closely together. For example, all the background definitions should be close together */
	/*DONE*/
}

.active_arrow {
	background-image: url(../assets/svg/arrow-right-solid-blue.svg);
	/* TODO: Extract the colour */
	background-color: #eff3f8;
}

/* TODO: For a divider like this feel free to use a decorative div element instead of a pseudo element */
/*DONE*/
.divider {
	height: 25px;
	border-right: 1px solid #e7e7e7;
}

.user_photo {
	display: block;
	width: 90px;
	height: 90px;
	border-radius: 50%;
}

.slider_footer {
	display: flex;
	align-items: center;
}

.user_info {
	margin-left: 25px;
}

.user_info p {
	margin: 0;
}

.user_info p:first-child {
	font-weight: 600;
}

/*START faq*/

.faq .wraper {
	justify-content: center;
}

.faq {
	margin-top: 90px;
	padding-bottom: 110px;
	/* TODO: Extract the colour */
	/* TODO: border-width, whole pixel value */
	/*DONE*/
	border-bottom: 2px solid #f4f4f4;
}

details {
	width: 940px;
	margin-bottom: 10px;
	/* TODO: Extract the colour */
	background-color: #f5f7fa;
	cursor: pointer;
	box-sizing: border-box;
	padding: 22px 30px;
	font-size: 20px;
	/* TODO: Extract the colour */
	color: #242f51;
}

summary {
	list-style: none;
}

summary:after {
	content: "+";
	/* TODO: Extract the colour */
	color: #242f51;
	font-size: 26px;
	float: right;
	margin-right: 10px;
}

details p {
	margin-top: 35px;
}

/* TODO: Indentation seems off until the end of this secion. Prettier will fix this */
/*DONE*/
details[open] summary:after {
	content: "-";
}

details[open] summary {
	font-weight: 600;
}

/*START download*/

#download {
	background-image: url(../assets/images/download_photo_03.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	/* TODO: We need to fix the background positioning here as well */
	background-position: 820px bottom;
	margin-top: 0;
	padding: 90px 0 100px 0;
}

#download h2 {
	font-size: 48px;
}

#download a {
	cursor: pointer;
}

#download a img {
	width: 185px;
	height: 55px;
	border-radius: 5px;
}

#download a img:first-of-type {
	margin-right: 35px;
}

/*START footer*/

footer {
	height: 525px;
	/* TODO: Extract the colour */
	background-color: #09142e;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

footer .logo {
	margin-right: 0;
	margin-bottom: 50px;
}

footer a {
	color: white;
}

.social {
	display: flex;
	gap: 15px;
	margin: 45px 0 90px 0;
}

.social img {
	height: 30px;
}
