#testimonials {
  background: left center / 50% url(../assets/images/people_map.jpg) no-repeat;
  border-top: 2px solid var(--neutral_light_variant);
  margin-bottom: 90px;
  padding: 150px 0 90px 0;
}

#testimonials .wraper {
  justify-content: flex-end;
}

#text {
  height: 100px;
}

.slider_container {
  margin-top: 15%;
}

.slider_arrows {
  display: flex;
  gap: 20px;
  flex-grow: 3;
  justify-content: flex-end;
  align-items: center;
}

.arrow_right,
.arrow_left {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--neutral_light);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid var(--background_neutral);
  transition: 0.3s;
}

.arrow_right {
  background-image: url(../assets/svg/arrow_right_solid_grey.svg);
}

.arrow_left {
  background-image: url(../assets/svg/arrow_left_solid_grey.svg);
}

.arrow_right:hover,
.arrow_right:active {
  background-image: url(../assets/svg/arrow_right_solid_blue.svg);
}

.arrow_left:hover,
.arrow_left:active {
  background-image: url(../assets/svg/arrow_left_solid_blue.svg);
}

.arrow_right:active {
  background-color: var(--background_neutral);
}

.arrow_left:active {
  background-color: var(--background_neutral);
}

.divider {
  height: 25px;
  border-right: 1px solid var(--neutral_medium_variant);
}

#user_photo {
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.slider_footer {
  display: flex;
  align-items: center;
}

#user_info {
  margin-left: 25px;
}

#user_info p {
  margin: 0;
}

#user_info p:first-child {
  font-weight: 600;
}

@media only screen and (max-width: 1200px) {
  #testimonials {
    background-size: 58%;
    background-position: -30%;
  }
}

@media only screen and (max-width: 992px) {
  #testimonials {
    background-size: 70%;
    background-position: center top;
    padding-top: 55%;
  }

  #testimonials .wraper {
    justify-content: center;
  }

  #testimonials .col_50 {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .slider_footer {
    margin-top: 15%;
  }
}

@media only screen and (max-width: 567px) {
  .slider_container {
    margin-top: 20%;
  }

  .slider_footer {
    flex-direction: column;
    gap: 30px;
  }

  #user_info {
    margin-left: 0;
  }

  #text {
    height: auto;
  }
}
