body {
	font-family: 'Poppins', sans-serif;
}

.wraper {
	width: 1025px;
	margin: auto;
	display: flex;
    flex-wrap: wrap;
}

.col_60 {
	width: 60%;
}

.col_50 {
	width: 50%;
}

.col_40 {
	width: 40%;
}

section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 90px;
}

header {
	overflow: hidden;
}

.header_nav {	
	display: flex;
	gap: 20px;
	align-items: center;
	width: 1200px;
	margin: auto;
	padding-top: 90px;
}

nav {
	display: flex;
    align-items: center;
}

nav ul {
	display: flex;
}

nav li {
	padding: 0 20px;
}

nav a {
	text-decoration: none;
	color: #242f51;
}

.logo {
	margin-right: auto;
}

.header_content {
	display: flex;
	background-image: url("Photos/buildings_background_02.jpg");
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
	padding: 0 200px; 
    margin: 0 -200px;
}

.description {
	display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.side_photo {
	width: 50%;
	display: flex;
	justify-content: center;
}

.header_content h3 {
	font-weight: 400;
    font-size: 18px;
    background: #e2eaed;
    border-radius: 50px;
    text-align: left;
    width: 360px;
    line-height: 35px;
}

/*.title_icon {
    height: 35px;
    width: 38px;
    display: inline-block;
    background: #feaa25;
    border-radius: 50px;
    text-align: center;
    margin-right: 8px;
}*/

/*.title_icon img {
	vertical-align: middle;
}*/

#video {
	text-decoration: none;
	color: #2500f9;
	margin-left: 30px;
}

.icon {
	width: 40px;
	height: 35px;
}

h1 {
	font-size: 58px;
	font-weight: 600;
	color: #242f51;
	line-height: 1.2;
	margin-bottom: 35px;
}

h2 {
	color: #242f51;
	font-weight: 600;
	font-size: 36px;
	line-height: 1.2;
	margin-bottom: 25px;
}

header p {
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 35px;
}

p {
	color: #616368;
	line-height: 1.5;
	font-size: 1rem;
	margin-bottom: 40px;
}

h3 {
	color: #242f51;
	line-height: 1.5;
	margin-bottom: 20px;
	font-weight: 600;
}

button {
	width: 165px;
	height: 55px;
	color: white;
	font-weight: 600;
	background: #2500f9;
	border: none;
	border-radius: 35px;
	cursor: pointer;
}

/*START recommendation*/

.recommendation h3 {
	font-weight: 400;
	margin: auto;
}

.external_logos {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 30px;
}

.external_logos img {
	height: 45px;
    margin-right: 50px;
}

/*START features*/

.features {
	background-image: url(Photos/features_03.jpg);
	background-repeat: no-repeat;
	padding: 30px 0 80px 0;

}

.features .wraper {
	justify-content: end;
}

.features_container_vertical {
	display: flex;
	flex-wrap: wrap;
	width: 75%;
}

.features_unit {
	display: flex;
	align-items: center;
	margin-top: 60px;
}

.primary {
	color: #f55767;
}

.secondary {
	color: #2563ff;
}

.tertiary {
	color: #40975f;
}

.icon_container {

    width: 80px;
    height: 80px;
    background: #ffecef;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_container img {
	width: 95px;
	height: 95px;
}

.features_content {
	width: 75%;
	margin-left: 30px;
}

.features_content p {
	margin-bottom: 0;
}

/*START additional_features*/

.section_side_title {
	display: flex;
}

.section_side_title p {
	padding: 40px 50px;
	border-left: 0.5px solid #b9b9b8;
}

.section_side_title h2 {
	padding-right: 100px;
}

.features_container_horizontal {
	display: flex;
	column-gap: 115px;
	margin-top: 60px;
}

.features_container_horizontal .icon_container{
	margin-bottom: 30px;
}

/*START app_design*/

.col_40 {
	width: 40%;
}

.app_design {
	background-image: url(Photos/designed_03.jpg);
	background-repeat: no-repeat;
	padding: 150px 0;
	border-bottom: 1.8px solid #f4f4f4;
}

.app_design .wraper {
	justify-content: flex-end;
}

/*START services*/

.section_title {
	text-align: center;
	margin: 0 190px;
}

.section_title h2 {
	margin-bottom: 35px;
}

.features_unit_horizontal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

/*START additional_services*/

.additional_services {
	background-image: url(Photos/planning_03.jpg);
	background-repeat: no-repeat;
	background-position: right;
	padding-bottom: 90px;
}

.additional_services .features_container_horizontal {
	width: 60%;
}

/*START pricing*/

.pricing .wraper {
	justify-content: center;
}

.pricing_card_container {
	display: flex;
	gap: 35px;
	justify-content: center;
    width: 100%;
}
.period_selector {
	display: inline-flex;
    align-items: center;
    justify-content: center;
	margin: 40px 0;
	width: 280px;
	height: 55px;
	border: 1.8px solid #ebebeb;
	border-radius: 50px;
}

.period_selector button {
	width: 135px;
	height: 48px;
}

.inactive {
	color: #929396;
	background: white;
	font-weight: 400;
}

.pricing_card {
	width: 300px;
	height: 550px;
	text-align: center;
	-webkit-box-shadow: 0px 34px 31px 9px #F6F8FA; 
	box-shadow: 0px 34px 31px 9px #F6F8FA;
}

.pricing_card_active {
	width: 300px;
	height: 600px;
}

.subscription_period {
	color: #999ca5;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;

}

.pricing_card p {
	color: #999ca5;
	margin-bottom: 0;
}

.pricing_card h2 {
	font-size: 60px;
}

.pricing_card h3 {
	margin-bottom: 0;
}

.pricing_card ul {
	margin: 40px 0;
	font-weight: 400;
}

.pricing_card li {
	color: #999ca5;
	margin-bottom: 28px;
}

.pricing_card a {
	display: block;
}

.pricing_card_header {
	-webkit-box-shadow: inset 0px -25px 24px -1px #F6F8FA; 
	box-shadow: inset 0px -25px 24px -1px #F6F8FA;
	padding: 60px 50px 35px 50px;
}

.pricing_card button {
	width: 200px;
	height: 50px;
}

.pricing_card a {
	text-decoration: none;
	color: #2500f9;
	margin: 30px 0;
}

.active_card {
	box-shadow: none;
	border: 1.8px solid #ebebeb;
	border-radius: 10px;
	height: 600px;
}

.active_header {
	background: #f4f7f9;
}

/*START testimonials*/

.testimonials {
	background-image: url(Photos/people_map.jpg);
	background-repeat: no-repeat;
	border-top: 1.8px solid #f4f4f4;
	background-size: 700px;
    background-position-y: center;
	margin-bottom: 90px;
	padding: 150px 0 90px 0;
}

.testimonials .wraper {
	justify-content: flex-end;
}

.star {
	width: 20px;
	height: 20px;
	margin-bottom: 25px;
}

.slider_arrows {
	display: flex;
	gap: 20px;
	flex-grow: 3;
	justify-content: flex-end;
}

.arrow {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-image: url(Photos/svg/arrow-right-solid-blue.svg);
	background-color: #eff3f8;
	border: 2px solid #eff3f8;
	background-repeat: no-repeat;
	background-position: center;
}

.arrow:after {
  content: '';
  position: relative;
  display: inline-block;
  left: 35px;
  top: 5px;
  border-left: 1px solid #e7e7e7;
  height: 25px;

}

.arrow:last-child:after {
  display: none;
}

.inactive_arrow {
	background-image: url(Photos/svg/arrow-left-solid-grey.svg);
	background-color: white;
	border: 2px solid #eff3f8;
}

.user_photo {
	background-image: url(Photos/adult-beard-boy-220453.jpg);
	background-size: cover;
	display: block;
	background-repeat: no-repeat;
	width: 90px;
	height: 90px;
	border-radius: 50%;
}

.slider_footer {
	display: flex;
	align-items: center;
}

.user_info {
	margin-left: 25px;
}
.user_info p {
	margin: 0;
}

.user_info p:first-child {
	font-weight: 600;
}

/*START FAQ*/

.FAQ .wraper {
	justify-content: center;
}

.FAQ {
	margin-top: 90px;
	padding-bottom: 110px;
	border-bottom: 1.8px solid #f4f4f4;
}

details {
	width: 940px;
	margin-bottom: 10px;
	background-color: #f5f7fa;
	cursor: pointer;
	box-sizing: border-box;
	padding: 22px 30px;
	font-size: 20px;
	color: #242f51;
}

summary {
	list-style: none;
}

summary:after {
	content: "+";
	color: #242f51;
	font-size: 26px;
	float: right;
	margin-right: 10px;
}

details p {
	margin-top: 35px;
}

 details[open] summary:after {
 content: "-";
 }

 details[open] summary {
 	font-weight: 600;
 }

 /*START download*/

 .download {
 	background-image: url(Photos/download_photo_03.jpg);
 	background-repeat: no-repeat;
 	background-position: right;
 	background-position-y: bottom;
    background-size: 630px;
 	margin-top: 0;
 	padding: 90px 0 100px 0;

 }

 .download h2 {
 	font-size: 48px;
 }

 .download_button {
 	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 5px;
	height: 55px;
	width: 185px;
 }

#google_play {
	background-image: url(Photos/google-play-badge.jpg);
	margin-right: 30px;	
}

#apple_store {
	background-image: url(Photos/svg/App_Store_Badge.svg);
}

/*START footer*/

footer {
	height: 525px;
	background-color: #09142e;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

footer .logo {
	margin-right: 0;
	margin-bottom: 50px;
}

footer a {
	color: white;
}

.social {
	display: flex;
	gap: 15px;
	margin: 45px 0 90px 0;
}

.social img {
	height: 30px;
}